.page--home {
  max-width: var(--max-width);
  margin: auto;
  padding: 50px 0;
}
.page--home--product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.wishlist__add {
  color: tomato;
  background-color: seashell;
}
