.ingredient--navBar {
  width: var(--max-width);
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ingredient--navBar--logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ingredient--navBar--logo .img--logo {
  width: 40px;
}
.ingredient--navBar--logo .img--logo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.ingredient--navBar--logo .word--logo h2 {
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: #FC0 1px 0 10px;
}
.ingredient--navBar--logo .word--logo h2 a {
  text-decoration: none;
  color: var(--text-default-color);
}
.ingredient--navBar--logo .word--logo h2 a span {
  margin: 0;
  padding: 0;
}
.ingredient--navBar--logo .word--logo h2 a span:last-child {
  color: #12f5f5;
}
.ingredient--navBar--logo .word--logo h2 a:hover span {
  margin: 0;
  padding: 0;
  color: #2af1f1;
}
.ingredient--navBar--logo .word--logo h2 a:hover span:last-child {
  color: var(--text-default-color);
}
.ingredient--navBar--menu {
  padding: 0 5px;
}
.ingredient--navBar--menu ul {
  list-style: none;
  display: flex;
  gap: 5px;
  margin-bottom: 0;
}
.ingredient--navBar--menu ul li {
  cursor: pointer;
  padding: 5px 20px;
  filter: opacity(80%);
  border-radius: 15px;
}
.ingredient--navBar--menu ul li a {
  text-decoration: none;
  color: var(--text-default-color);
}
.ingredient--navBar--menu ul li:hover {
  filter: opacity(100%);
  background-color: var(--background--hover);
}
.ingredient--navBar--action {
  list-style: none;
  display: flex;
  gap: 2px;
}
.ingredient--navBar--action li {
  position: relative;
}
.ingredient--navBar--action li i {
  font-size: 1.755rem;
  cursor: pointer;
  padding: 11px;
  filter: opacity(80%);
  border-radius: 15px;
}
.ingredient--navBar--action li i:hover {
  filter: opacity(100%);
  background-color: var(--background--hover);
}
.ingredient--navBar--action li span {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 4px;
  transform: translateX(-120%);
  border-radius: 50%;
  background-color: #06fafa;
  font-size: 1.2rem;
  text-align: center;
  line-height: 13px;
  color: #ff0000;
}
