.background-container .image-cover {
    overflow: hidden;
    height: 300px;
}
.background-container .image-cover img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.pages--profile {
    background-color: #fff;
}
.pages--profile .info-profile {
    gap: 15px;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    transform: translateY(-35px);
    padding-bottom: 20px;
    border-bottom: solid 1px var(--border-line);
    display: flex;
}
.pages--profile .menu-profile {
    max-width: var(--max-width);
    margin: auto;
}
.pages--profile .menu-profile ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}
.pages--profile .menu-profile ul li {
    padding: 10px;
    transform: translateY(-15px);
    font-family: inherit;
    font-weight: 500;
    opacity: 0.7;
}
.pages--profile .menu-profile ul li a {
    text-decoration: none;
    color: var(--text-default-color);
}
.pages--profile .menu-profile ul li.active  {
    border-bottom: solid 3px hsl(214, 89%, 52%);
    opacity: 1;
}
.pages--profile .menu-profile ul li.active a {
    color: hsl(214, 89%, 52%);
}

.pages--profile .info-profile .image-avatar {
    height: 170px;
    width: 170px;
    background-color: #fff;
    padding: 5px 5px 5px 5px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.tab-profile .nav-pills {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 10px 0px;
}
.nav-pills .nav-link {
    font-size: 2rem;
    color: #7a7a7a;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #000;
    background-color: transparent;
    border-bottom: 2px solid #333;
    border-radius: 0px;
}

.show-profile .avatar {
    position: relative;

    overflow: hidden;
}
.avatar:hover {
    opacity: .2;
}
.avatar .text-change-image {
    position: absolute;
    top: 35%;
}
.avatar > input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.file_image {
    transition: all 0.3s ease;
    object-fit: cover;
    height: 204px;
    width: 204px;
}

.name-profile {
    padding-top: 20px;
}
.name-profile-h2 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 1px 1px rgb(252 248 28 / 50%), -1px 1px rgb(252 248 28 / 50%), 1px -1px rgb(252 248 28 / 50%), -1px -1px rgb(252 248 28 / 50%), 1px 1px 5px rgb(50 236 221);
}

.content-profile {
    width: 100%;
    margin: auto;
    max-width: var(--max-width);
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px 20px;
}