.container--voucher_store_head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container--voucher_store_head button {
  font-size: 1.5rem;
  padding: 7px 25px;
}
.container--voucher_store_table {
  margin-top: 50px;
}
.container--voucher_store_table .table thead tr th,
.container--voucher_store_table .table tbody tr th {
  padding: 10px;
}
.container--voucher_store_table .table thead tr td,
.container--voucher_store_table .table tbody tr td {
  padding: 10px;
}
.container--voucher_store_table .table thead tr td .button-radio-form-add-voucher,
.container--voucher_store_table .table tbody tr td .button-radio-form-add-voucher {
  font-size: 1.2rem;
}
.container--voucher_store_table .table thead tr td .btn-check:checked + .btn.button-radio-form-add-voucher,
.container--voucher_store_table .table tbody tr td .btn-check:checked + .btn.button-radio-form-add-voucher {
  background-color: rgb(138, 222, 228);
  color: var(--text-default-color);
}
.container--voucher_store_table .table thead tr.table-secondary,
.container--voucher_store_table .table tbody tr.table-secondary {
  opacity: 0.5;
}

.container__modals {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  z-index: 999997;
}

.container__modal {
  width: 95%;
  max-width: 600px;
  position: fixed;
  margin: auto;
  top: 10vh;
  left: 50%;
  z-index: 999999;
  overflow: auto;
  transform: translateX(-50%);
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.container__modal--header {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgba(150, 147, 147, 0.295) solid;
}
.container__modal--header__title p {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
  color: var(--text-default-color);
  opacity: 0.8;
}
.container__modal--header__icon_close ion-icon {
  font-size: 3rem;
  cursor: pointer;
  opacity: 0.5;
}
.container__modal--header__icon_close ion-icon:hover {
  opacity: 1;
}
.container__modal--main {
  overflow: auto;
  padding: 10px 20px;
  max-height: 60vh;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  margin-bottom: 20px;
}
.container__modal--main::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.container__modal--main .input-group .input-group-text {
  font-size: 1.5rem;
}
.container__modal--main .input-group .form-control {
  font-size: 1.5rem;
}
.container__modal--main .button-radio-form-add-voucher {
  font-size: 1.5rem;
}
.container__modal--main .btn-check:checked + .btn.button-radio-form-add-voucher {
  background-color: rgb(138, 222, 228);
  color: var(--text-default-color);
}
.container__modal--main__voucher {
  border-top: 1px rgba(150, 147, 147, 0.295) solid;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container__modal--main__voucher .content__voucher {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 10px 20px;
}
.container__modal--main__voucher .content__voucher.disable {
  opacity: 0.6;
}
.container__modal--main__voucher .content__voucher .left__content__voucher {
  position: relative;
}
.container__modal--main__voucher .content__voucher .left__content__voucher img {
  width: 100%;
  height: auto;
}
.container__modal--main__voucher .content__voucher .left__content__voucher span {
  position: absolute;
  bottom: 10%;
  left: 0;
}
.container__modal--main__voucher .content__voucher .right__content__voucher {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__modal--main__voucher .content__voucher .right__content__voucher .information__voucher {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container__modal--main__voucher .content__voucher .right__content__voucher .information__voucher p {
  font-size: 1.5rem;
  margin: 0;
}
.container__modal--main__voucher .content__voucher .right__content__voucher .information__voucher span {
  font-size: 1.5rem;
}
.container__modal--main__voucher .content__voucher .right__content__voucher button {
  font-size: 1.5rem;
}
.container__modal--footer {
  width: 100%;
  height: 60px;
  display: flex;
  border-top: 1px rgba(150, 147, 147, 0.295) solid;
  padding: 15px 0;
  background-color: #cbd0d8;
}
.container__modal--footer button {
  font-size: 2rem;
  margin: auto;
  padding: 5px 100px;
  border-radius: 8px;
}

.hc-luckywheel-item img {
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
}

.swal2-content #swal2-content {
  font-size: 1.6rem;
  line-height: 3rem;
}

.swal2-title#swal2-title {
  font-size: 2.5rem;
}

.swal2-actions button.swal2-confirm {
  font-size: 1.5rem;
}

.swal2-container .swal2-popup {
  width: 37em;
  padding: 3rem;
}

.hc-luckywheel-xoay {
  position: absolute;
  left: 210px;
  top: 210px;
  z-index: 3;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #f4e9cc;
  background-color: #e44025;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.hc-luckywheel-xoay::after {
  position: absolute;
  display: block;
  content: "";
  left: 10px;
  top: -46px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 30px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #e44025;
}

.div-benefit-detail {
  display: flex;
}

.banner-voucher {
  display: grid;
  grid-template-columns: 70% 1fr;
  gap: 10px;
}

@media screen and (max-width: 1200px) {
  :root {
    --max-width: 100%;
  }
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .container--navBar .ingredient--navBar {
    padding: 0 50px;
  }
  .container--navBar .ingredient--navBar .ingredient--navBar--menu {
    display: none;
  }
  .pages--productDetail--container .productDetail--info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .pages--productDetail,
.stores-container,
.line-title {
    padding-left: 3%;
    padding-right: 3%;
  }
  .meta-store {
    text-align: center;
  }
  .list-info-stores {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .info-store {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .stores-container .list-info-stores .contact-store {
    width: 100%;
    justify-content: center;
  }
  .page--productDetail--store .img-background {
    background-size: auto 100%;
  }
  .div-benefit-detail {
    display: none;
  }
  .pages--auth--content {
    display: grid;
    grid-template-columns: 100%;
  }
  .pages--auth--content__grid {
    padding: 0 20px;
  }
  .pages--profile .info-profile {
    flex-direction: column;
  }
  .name-profile {
    text-align: center;
  }
  .content-profile {
    padding: 30px 0;
  }
  .menu-profile {
    padding: 0 10px;
    overflow-x: scroll;
  }
  .menu-profile ul li a {
    white-space: nowrap;
  }
  .banner-voucher {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 400px) {
  .container--navBar .ingredient--navBar {
    padding: 0 10px;
  }
  .container--navBar .ingredient--navBar .ingredient--navBar--menu {
    display: none;
  }
}
